<div class="col-xs-12">
  <h3 class="text-center">Edit Article</h3>
</div>
<div class="col-xs-6 col-xs-offset-3">
 <% if @article.errors.any? %>
 <div class="panel panel-danger">
  <div class="panel-heading">
    <h2 class="panel-title">
      <%= pluralize(@article.errors.count, "error") %>
    prohibited this article from being saved: </h2>
    <div class="panel-body">
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>
<%=simple_form_for @article do |f| %>
<%= f.input :title %>
<%= f.input :body %>
<%= f.submit %>
<%end%>


</div>
